logs
*.log
npm-debug.log*
node_modules
dist
dist-ssr
*.local
.netlify
release
packaging
*.pfx
*.exe
*.msix
*.appinstaller
.cursor/
public/icon-proposed.svg
src-tauri/gen/
src-tauri/target/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
